<footer>
  <!-- <a target="_blank" href="https://github.com/Vasco-jofra">
    <img src="/assets/github_logo.png" class="icon"></img>
    GitHub
  </a> -->
  <!-- <a target="_blank" href="https://twitter.com/V_jofra">
    <img src="/assets/twitter_logo_cropped.png" class="icon"></img>
    Twitter
  </a> -->
  <a href="/feed.xml">
    <img src="/assets/rss_logo.png" class="icon"></img>
    RSS
  </a>
  <a href="/archive">
    <img src="/assets/favicon/favicon-32x32.png" class="icon"></img>
    Archive
  </a>
</footer>