<header>
  <div class="header-logo">
    <a href="/">
      <img src="/assets/logo_6apt.png" alt="" />
    </a>
  </div>
  <nav class="main-container">
    <!-- If we want to remove the spaces that appear because of the inline-block (https://css-tricks.com/fighting-the-space-between-inline-block-elements/) just place each element in a separate <remove-whitespace> and then the compress script will remove them -->

    {% include header_link.html link_url='/' link_name='Tempo' %}
    {% include header_link.html link_url='/' link_name='' %}
    <!-- {% include header_link.html link_url='/tools' link_name='Tools' %} -->
    <!-- {% include header_link.html link_url='/about' link_name='About' %} -->

  </nav>
</header>
