<header>
  <div class="main-container header-logo">
    <a href="/">
      <img style="width: 100%;" src="/assets/logo_6apt_512.png" alt="" />
    </a>
  </div>
  <div class="main-container">
    <!-- <div class="middle-container"> -->
      <!-- If we want to remove the spaces that appear because of the inline-block (https://css-tricks.com/fighting-the-space-between-inline-block-elements/) just place each element in a separate <remove-whitespace> and then the compress script will remove them -->
    <!-- </div> -->
    
    <!-- <div class="side-container"> -->
      <div class="nav-bar">
        {% include header_link.html link_url='/' link_name='Tempo' %}
        {% include header_link.html link_url='/about' link_name='About' %}
      </div>
    <!-- </div> -->
</header>