// Code
$code_bg: #1e1e1e;
$code_border: 1px solid rgba(255, 255, 255, 0.15);

// Code text
$plaintext: #d4d4d4;
$string: #ce9178;
$literal: #b5cea8;
$keyword: #569cd6;
$comment: #6a9955;
$preprocessor: #569cd6;
$name-space: #4ec9b0;
$name-attribute: #4ec9b0;
$operator: #d4d4d4;
$keyword-type: #569cd6;
$regex: #646695;
$string-escape: #d7ba7d;
$deleted: #ce9178;
$header: #000080;
$function_call: #dcdcaa;
$error-foreground: $plaintext;
$error-background: rgba(255, 0, 0, 0.5);
$err: rgba(255, 0, 0, 0.5);
