---
layout: compress
---

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="main-container">
      <div class="post-container">
        <div class="content-container middle-container">
          <section id="main_content">{{ content }}</section>
        </div>

        <div class="content-container side-container">
          <!-- Tags -->
          <h3 class="side-bar-title">Tags</h3>
          {% include tags.html %}

          <!-- Mega map -->
          <h3 class="side-bar-title">Map</h3>
          <iframe
            src="https://www.google.com/maps/d/embed?mid=1sBxkIJN0wo4fBP5LUUaVy7f_iUplOWQQ&hl=en"
            width="100%"
            height="400"
            style="border: 0"
          ></iframe>
          <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2496991.853563807!2d-7.20164492909936!3d39.64345879580698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-PT!2spt!4v1622743407975!5m2!1spt-PT!2spt" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->

          <!-- Cool blogs -->
          <h3 class="side-bar-title">Cool blogs</h3>
          <a href="http://mandlebro.6a.pt/">blog da zé</a><br />
          <a href="http://jofra.6a.pt/">blog do tó</a>

          <!-- Cool blogs -->
          <h3 class="side-bar-title">Interdicted crags</h3>
          <a href="http://mandlebro.6a.pt/">blog da zé</a><br />
          <a href="http://jofra.6a.pt/">blog do tó</a>
        </div>
      </div>

      {% include footer.html %}
    </div>

    {% if site.google_analytics %} {%include analytics.html %} {% endif %}
  </body>
</html>
