---
layout: compress
---

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="main-container">
      <div class="post-container">
        <div class="content-container middle-container">
          <section id="main_content">{{ content }}</section>
        </div>

        <div class="content-container side-container">
          <!-- Tags -->
          <h3 class="side-bar-title">Tags</h3>
          {% include tags.html %}

          <!-- Mega map -->
          <h3 class="side-bar-title">Map</h3>
          <iframe
              src="https://www.google.com/maps/d/embed?mid=1sBxkIJN0wo4fBP5LUUaVy7f_iUplOWQQ&hl=en"
              width="100%"
              height="400"
              style="border: 0"
          ></iframe>
          
          <!-- Interdicted crags -->
          <h3 class="side-bar-title">Interdicted crags</h3>
          Example 1
          <br />
          Example 2
          
          <!-- Cool blogs -->
          <h3 class="side-bar-title">Cool blogs</h3>
          <a href="http://jofra.6a.pt/">Example 1</a>
          <br />
          <a href="http://mandlebro.6a.pt/">Example 2</a>

        </div>
      </div>

      {% include footer.html %}
    </div>

    {% if site.google_analytics %} {%include analytics.html %} {% endif %}
  </body>
</html>
